.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 10px;
  }
  .wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }
  
  .wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
  
.wd-flex-col1 {
    flex: 0.5;
    padding: 20px;
}

.wd-flex-col2 {
    flex: 0.4;
    padding: 10px;
}
.wd-flex-col3 {
    flex: 0.4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end; 
}

.selected-module {
  font-weight: bold;
  background-color: hsl(0, 31%, 90%); /* Slightly darker background for selected module */
}

.list-group.wd-modules {
  
  width: auto; /* Let it take the natural width of the content */
  margin-bottom: 1rem; /* Adds space between each module list */
}

.list-group-item {
  margin-bottom: 0.5rem; /* Space between each module */
  border-radius: 0.25rem; /* Slight rounding of corners */
  font-weight: 500; /* Make the title of the modules thicker */
  background-color: #ffffff; /* Set the original background color */
  cursor: pointer; /* Change cursor to pointer to indicate clickable items */
}

.list-group-item:hover {
  background-color: rgb(243, 218, 228); /* Slightly darker background for hover effect */
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  font-weight: 600;
  
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid gray !important;
  border-left: none !important;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}




.wd-modules > li > div {
  padding: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid gray !important;
}



.wd-modules > li > ul > li {
  padding: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.module-name {
  display: block; /* Makes span behave like a block element */
  font-weight: bold;
}

.module-description {
  display: block; /* Makes span behave like a block element */
  color: #666;
  font-size: 0.9rem;
  margin-top: 5px;
}


.module-add-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px; /* Adds some padding inside the form */
  border: 1px solid #eeeeee; /* Adds a border to the form */
  border-radius: 8px; /* Rounds the corners of the form */
  background-color: #ffffff; /* Sets the form background to white */
  width: fit-content; /* Ensures the form only takes up as much width as needed */
  margin: auto; /* Centers the form if it's the only element, remove if not needed */
}

.module-name-input,
.module-description-textarea {
  width: 80%; /* Sets the width to 80% of the parent element's width */
  max-width: 300px; /* Ensures that width doesn't exceed 300px */
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.module-description-textarea {
  height: 100px;
}

.add-module-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-module-button:hover {
  background-color: #45a049;
}

/* Styling for placeholder text */
.module-name-input::placeholder,
.module-description-textarea::placeholder {
  color: #999999;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-name {
  flex-grow: 1; /* Allows the name to take up the remaining space */
}

.icon-group {
  display: flex;
  align-items: center;
}


.module-description {
  font-size: 0.8rem; /* Make the description font smaller */
  margin-top: 0.5rem; /* Add some space above the description */
  color: #666; /* Make the description color lighter or as needed */
}

.delete-module-button {
  padding: 5px 15px;
  background-color: red; /* Use your preferred red shade */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Align text in the button if needed */
  text-align: center;
  /* Adding a small margin-top might be necessary depending on your design */
  margin-top: -2px;
  margin-right: 6px;
}

.edit-module-button {
  padding: 5px 15px;
  background-color: green; /* Use your preferred red shade */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Align text in the button if needed */
  text-align: center;
  /* Adding a small margin-top might be necessary depending on your design */
  margin-top: -2px;
  margin-right: 6px;
}

.update-module-button {
  padding: 5px 15px;
  background-color: blue; /* Use your preferred red shade */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Align text in the button if needed */
  text-align: center;
  /* Adding a small margin-top might be necessary depending on your design */
  margin-top: 5px;
  margin-right: 6px;
}

/* Additional hover effect for the delete button */
.delete-module-button:hover {
  background-color: darkred; /* A darker shade when hovering */
}

.delete-module-button:hover {
  background-color: darkgreen; /* A darker shade when hovering */
}