.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 10px;
  }
  .wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }
  
  .wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
  
.wd-flex-col1 {
    flex: 0.5;
    padding: 20px;
}

.wd-flex-col2 {
    flex: 0.4;
    padding: 10px;
}
.wd-flex-col3 {
    flex: 0.4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end; 
}